/* background color */



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins';

}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf00;
}

/* Handle */
::-webkit-scrollbar-thumb {

  /* background: #6b5ecc34;  */
  background: #6b5ecc2a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b5ecc34;

}

.ant-table-thead .ant-table-cell {
  background-color: #E9EFFA !important;
  color: #2461CB !important;


} 
.ant-pagination .ant-pagination-item-active a { 
  background-color: #2461CB !important;
}

/* .ant-table-thead > tr > th {
  height: 58px;
  padding: 50px 0px;
} */

.ant-layout {
  /* background: #EAFBF9 ; */
  background-color: "white";
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
li {
  text-decoration: none;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-badge .ant-badge-count {
  background: #1B4998;
  color: white !important;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 10px 10px !important;
  margin-bottom: 0 !important;
}

/* table padding remove */
.ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  display: none !important;
}

.ant-table-wrapper .ant-table-tbody>tr>td {
  border-bottom: none !important;
}

.ant-table-wrapper .ant-table-thead>tr>th {
  padding: 10px 16px !important;
}

.ant-table-wrapper .ant-table-tbody>tr>td {
  padding: 9px 16px !important;
}

/* center pagination */
:where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper .ant-table-pagination {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

}

:where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin: 8px 0 !important;
}

/* alert button */
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: #1B4998 !important;
  margin: 0 !important;
  /* width: 350px !important; */
  border-radius: 8px !important;
}

/* slider */
.ant-slider .ant-slider-handle:hover::after {
  box-shadow: 0 0 0 4px #6A6D7C !important;
}

.ant-slider .ant-slider-handle:focus::after {
  box-shadow: 0 0 0 4px #6A6D7C !important;
}

.ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 4px #6A6D7C !important;

}
:where(.css-dev-only-do-not-override-djtmh8).ant-modal .ant-modal-content {
  padding: 10 !important;
}